
    <!--link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/main.css" /-->

    <!--
    <h4 style="margin-top: 10px;margin-bottom: 0;"><b style="color: #eee;">APPLICATIONS CLOSED</b></h4>
    -->
    <div id="register-form" class="register">
      <!--
      <h4 style="color: #eee;">We are LIVE.</h4>
      -->
      <a href="https://live.cuhacking.com"><button id="apply-button" class="reveal-full-size submitBtn btn go-button btn btn-default apply-button">LIVE</button></a>
    </div>
    <!--div id="register-form" class="register">
      <h4 style="color: #eee;">Interested in helping us out? Sign up to be a Volunteer!</h4>
      <a href="https://cuhacking1.typeform.com/to/OEnIvH"><button id="apply-button" class="reveal-full-size submitBtn btn go-button btn btn-default apply-button">SIGN UP</button></a>
    </div-->
