 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/main.css" />


    
    
    
    

     



        
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">

	
              <form id ="pre-register-form" class="pre-register" method="post">
                
                <div class="form-group col-md-6">
                  <label for="Email"></label>
                  <input name="email" type="email" class="form-control" id="" placeholder="Email address" required>
                
                  <input type="submit" id="submit" name="send" class="submitBtn btn" value="Join">
                </div>
              </form>
          </div>
        </div>
        
      </div>

    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script >
$('#pre-register-form').submit(function(e){
    e.preventDefault();
    $.ajax({
        url: "https://formspree.io/zhangweizhi@live.cn",
        method: "POST",
        data: $(this).serializeArray(),
        dataType: "json",
        beforeSend: function() {
          $('#pre-register-form').append('<div class="alert alert--loading"> processing…</div>');
        },
        success: function(data) {
          $('#pre-register-form').find('.alert--loading').hide();
          $('#pre-register-form').append('<div class="alert alert--success">You are in our Email list!</div>');
        },
        error: function(err) {
          $('#pre-register-form').find('.alert--loading').hide();
          $('#pre-register-form').append('<div class="alert alert--error">Oops, there was an error.</div>');
        }
    });
  });

    </script>
    

