<form id="contact-form" method="POST" class="contact-form">
    <!--input type="text" name="name">
    <input type="email" name="_replyto"-->
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input name="name" type="text" placeholder="name" class="form-control" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input name="email" type="email" placeholder="email" class="form-control" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Subject</span>
            <input name="subject" placeholder="subject" type="text" name="subject" class="form-control" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Description</span>
            <textarea name="description" name="description" placeholder="Your message..." class="form-control" rows="4" cols="60" required></textarea>
       </div>
                    
	    <input id="contact-button" type="submit" value="Send">
	</div>
</form>

<script>
var $contactForm = $("#contact-form");
$contactForm.submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: "//formspree.io/cuhackingteam@gmail.com", 
        method: 'POST',
        data: $(this).serialize(),
        dataType: 'json',
        beforeSend: function() {
            $contactForm.append('<div class="alert alert--loading">Sending message…</div>');
        },
        success: function(data) {
            $contactForm.find('.alert--loading').hide();
            $contactForm.append('<div class="alert alert--success"> <i style="margin-right:5px;" class="fa fa-smile-o" aria-hidden="true"></i> Message sent!</div>');
        },
        error: function(err) {
            $contactForm.find('.alert--loading').hide();
            $contactForm.append('<div class="alert alert--error"><i style="margin-right:5px;" class="fa fa-frown-o" aria-hidden="true"></i> Oops, there was an error.</div>');
        }
    });
});
</script>