
    <h1 class="thick-title reveal">COMMON QUESTIONS</h1>

    <ul class="timeline reveal">
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">What is a hackathon?</h4>
              <!--p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p-->
            </div>
            <div class="timeline-body">
              <p>A hackathon is an event where a team works together to bring an idea to life. The challenge is to come up with and create a software or hardware project in 24 hours. Companies will also offer API challenges that you can go for.</p>
            </div>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">How much experience do I need?</h4>
            </div>
            <div class="timeline-body">
              <p>
            No experience is needed! A hackathon is the best opportunity for participants to learn new tools to develop their idea. Whether you’ve been programming since you were 10 or have no idea what a microcontroller is, everyone has many different ways to benefit from a hackathon. It's a perfect opportunity to learn.</p>
            </div>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Who can participate?</h4>
            </div>
            <div class="timeline-body">
              <p>Any student from any university or college is eligible to participate. Participation is free, but will require signing up. Only a certain number of registrants will be accepted depending on the volume of sign ups.</p>
              
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Can I submit an old project?</h4>
            </div>
            <div class="timeline-body">
              <p>No. The purpose of a hackathon is to create something from scratch within a given time limit and to learn as you go. It is also not fair to other teams who start a project from scratch during the hackathon.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">How does judging work?</h4>
            </div>
            <div class="timeline-body">
              <p>Judges will come from some of the largest companies in the tech industry. They will rate hacks based on creativity, technical difficulty, design, and usefulness.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Will there be workshops?</h4>
            </div>
            <div class="timeline-body">
              <p>Yes! Workshops on certain fundamentals of various software and hardware will be run throughout the hackathon.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Will hardware be provided?</h4>
            </div>
            <div class="timeline-body">
              <p>Some hardware will be available, but will be limited.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">What should I bring?</h4>
            </div>
            <div class="timeline-body">
              <p>Laptop, charger, water, snacks, sleeping bag, comfortable clothes, and your creativity! Breakfast, lunch, and dinner will be provided.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">What if I don't have a team?</h4>
            </div>
            <div class="timeline-body">
              <p>At this time we will not be providing travel reimbursement, but we are still looking into the possibility. If you are within a 5-hour driving distance, we encourage you to carpool to save money on travel. Try to get your friends to sign up as well so you can split the cost of travel. We may also send a bus to the Toronto and Waterloo areas to pick students up.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">How many team members can I have?</h4>
            </div>
            <div class="timeline-body">
              <p>There can be a maximum of 4 members per team.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Will there be travel reimbursement?</h4>
            </div>
            <div class="timeline-body">
              <p>Sorry, we aren't offering travel reimbursement this year.</p>
          </div>
        </li>
        <li>
          <!--div class="timeline-badge"><i class="fa fa-question-circle" aria-hidden="true"></i></div-->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">I have a question that is not listed here. Who can I ask?</h4>
            </div>
            <div class="timeline-body">
              <p><b><a href="{{ site.baseurl }}/contact" target="_blank">Contact us</a></b> and one of our organizers will get in contact with you as soon as possible!</p>
          </div>
        </li>
    </ul>

<!--<hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>-->