<footer>
	<div class="container">
		<img class="footer-logo" src="{{site.baseurl}}/assets/images/cuhlogo.png"></img>
		<h4><b>CUHACKING</b></h4>
		<h4>Carleton University</h4>
		<h6>1125 Colonel By Dr,</h6>
		<h6>Ottawa, ON K1S 5B6</h6>
		<div class="organizers">
			<!--h5><b>BROUGHT TO YOU BY</b></h5><br-->
			<img class="footer-logo ieee-logo-footer" src="{{ site.baseurl }}/assets/images/ieee_white.png"></img>
			<img class="footer-logo" src="{{ site.baseurl }}/assets/images/ccss-logo.png"></img>
		</div>
	</div>
</footer>