 
    <!--link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/main.css" /-->

 
    <h4>We're currently planning CUHacking 2018!</h4>
    <p class="text">Join the mailing list to stay up to date with all the <br>dates and details.</p>

    <form id="pre-register-form" class="pre-register" method="post"> 
      <div class="form-group">
        <input name="email" type="email" class="form-control" placeholder="Email address" required>
        <input type="submit" id="submit" name="send" class="submitBtn btn go-button btn btn-default" value="Join">
      </div>
    </form>

    <script >
    $('#pre-register-form').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: "https://formspree.io/cuhackingteam@gmail.com",
            method: "POST",
            data: $(this).serializeArray(),
            dataType: "json",
            beforeSend: function() {
              $('#pre-register-form').append('<div class="alert alert--loading"> processing…</div>');
            },
            success: function(data) {
              $('#pre-register-form').find('.alert--loading').hide();
              $('#pre-register-form').append('<div class="alert alert--success"><i style="margin-right:5px;" class="fa fa-smile-o" aria-hidden="true"></i> You are in our Email list!</div>');
            },
            error: function(err) {
              $('#pre-register-form').find('.alert--loading').hide();
              $('#pre-register-form').append('<div class="alert alert--error"><i style="margin-right:5px;" class="fa fa-frown-o" aria-hidden="true"></i> Oops, there was an error.</div>');
            }
        });
      });

    </script>
    

