<style>
   h4 {
      color: #333;
      margin-top:50px;
   }
   h4 i {
      margin-right:5px;
   }
   h4 a {
      cursor: pointer;
      text-decoration: underline;
   }
   .schedule-row {
    display:flex;
    justify-content:center;
    align-items: flex-start;
    width 100%;
    padding:50px;
    color:#333;
    flex-wrap:wrap;
   }
   .schedule-col {
    text-align: left !important;
    list-style-position: inside;
    list-style-type: none;
    max-width: 500px;
    line-height: 1.6;
    font-size: 17px;
   }
   .schedule-col li {
      margin-bottom: 12px;
   }
   .schedule-head {
      font-weight: bold;
      margin-bottom: 17px !important;
   }
   /*Ignore this in app*/
   .schedule-col.first{
      margin-left:-110px;
   }

   .map {
      width: 800px !important;
   }

   @media(max-width:780px){
      .schedule-col{
         margin-left:-60px !important;
      }
      .map {
         display:none;
      }
   }
</style>
<h2 class="thick-title bg">SCHEDULE</h2>
<div class="schedule-row reveal" id="schedule">
  <ul class="schedule-col first" style="text-align: left !important;">
    <li class="schedule-head">Saturday March 31st</li>
    <li>9:00am - Registration Opens</li>
    <li>10:00am - Opening Ceremonies</li>
    <li>11:30am - Hacking Begins/Team Formation Workshop</li>
    <li>12:30pm - Lunch</li>
    <li>1:30pm to 2:00pm - CUHackers Kirin & Jacky Workshop<br><i>“Concurrency With Go”</i></li>
    <li>2:05pm to 2:55pm - Pythian Workshop<br><i>“Cloud Functions and Serverless – Where We Are Now”</i></li><!-- “Blockchain”-->
    <li>3:05pm to 3:55pm - Innovapost Workshop<br><i>“Developing Applications using Google Android Architecture Components”</i></li><!--“Developing Apps using Google Android Architecture”-->
    <li>4:05pm to 4:55pm - Kx Labs Workshop<br><i>“Introduction to vector functional programming in kdb+”</i></li><!--“Intro to vector functional programming in kdb+”-->
    <li>5:00pm - CUHackers Ben & Rico Workshop<br><i>"Swift and iOS Workshop"</i></li>
    <li>5:30pm to 7:30pm - Dinner<br><i></i></li>
    <li>6:30pm to 7:30pm - Foko Retail Workshop<br><i>“Break more Stuff”</i></li> <!--“Break more Stuff”-->
    <li>7:30pm to 8:00pm - ChangeJar Workshop<br><i>“ChangeJar API workshop”</i></li> <!-- “ChangeJar API workshop”-->
    <li>8:05pm to 8:55pm - Martello Workshop<br><i>“Cleaner Better Modular Scalable CSS”</i></li>
    <li>9:05pm to 9:55pm - Std.lib Workshop</li>
    <li>10:30pm - MLH Slidedeck Karaoke</li>
    <li>12:00pm - Midnight Activity</li>
  </ul>
  <ul class="schedule-col" style="text-align: left !important;">
    <li class="schedule-head">Sunday April 1st</li>
    <li>8:00am - Breakfast</li>
    <li>10:00am - Devpost Submissions Close!</li>
    <li>12:00pm - Demos & Lunch</li>
    <li>2:00pm - Final Judging Decisions</li>
    <li>3:00pm - Closing Ceremonies</li>
  </ul>
  <div id="location">
   <h4><i class="em em-earth_americas"></i><b>Location:</b> <a title="View on google maps" target="_blank" href="https://goo.gl/maps/24epk8zyvxQ2">Residence Commons Building, Carleton University, 1125 Colonel By Drive Ottawa, Ontario</a></h4>
   <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11208.409330115177!2d-75.6971067!3d45.3871065!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cf76cda436ee6c1!2sResidence+Commons!5e0!3m2!1sen!2sca!4v1522365274753" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
