<style>
   h4 {
      color: #333;
      margin-top:50px;
   }
   h4 i {
      margin-right:5px;
   }
   h4 a {
      cursor: pointer;
      text-decoration: underline;
   }
   .schedule-row {
    display:flex;
    justify-content:center;
    align-items: flex-start;
    width 100%;
    padding:50px;
    color:#333;
    flex-wrap:wrap;
   }
   .schedule-col {
    text-align: left !important;
    list-style-position: inside;
    list-style-type: none;
    max-width: 500px;
    line-height: 1.6;
    font-size: 17px;
   }
   .schedule-col li {
      margin-bottom: 12px;
   }
   .schedule-head {
      font-weight: bold;
      margin-bottom: 17px !important;
   }
   /*Ignore this in app*/
   .schedule-col.first{
      margin-left:-110px;
   }

   .map {
      width: 800px !important;
   }

   @media(max-width:780px){
      .schedule-col{
         margin-left:-60px !important;
      }
      .map {
         display:none;
      }
   }
</style>
<h2 class="thick-title bg">SCHEDULE</h2>
<div class="schedule-row reveal" id="schedule">
  <ul class="schedule-col first" style="text-align: left !important;">
    <li class="schedule-head">Saturday February 16th</li>
    <li>9:00am - Registration Opens</li>
  </ul>
  <ul class="schedule-col" style="text-align: left !important;">
    <li class="schedule-head">Sunday February 17th</li>
    <li>3:00pm - Closing Ceremonies</li>
  </ul>
</div>
  <div id="location">
   <h4><i class="em em-earth_americas"></i><b>Location:</b> <a title="View on Google Maps" target="_blank" href="https://goo.gl/maps/XTdYFGuEP8y">Richcraft Hall, Carleton University, 1125 Colonel By Drive Ottawa, Ontario</a></h4>
  </div>
