<div class="social-media-links side">
	<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/Slackl.png"></img>
	<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/fbfull.png"></img>
	<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/snap.png"></img>
	<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/twitterl.png"></img>
	<img class="social-media-icon last" src="{{site.baseurl}}/assets/images/ico/Instafull.png"></img>
</div>