<div class="social-media-links side">
	<a href="https://www.facebook.com/CUHacking/" target="_blank">
		<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/fbfull.png"></img>
	</a>
	<a href="" target="_blank">
		<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/snap.png"></img>
	</a>
	<a href="" target="_blank">
		<img class="social-media-icon" src="{{site.baseurl}}/assets/images/ico/twitterl.png"></img>
	</a>
	<a href=" https://www.instagram.com/cuhacking/" target="_blank">
		<img class="social-media-icon last" src="{{site.baseurl}}/assets/images/ico/Instafull.png"></img>
	</a>
</div>