<div class="social-media-links side">
	<a href="{{site.facebook}}" target="_blank">
		<img class="social-media-icon" src="{{site.baseurl}}/assets/img/ico/facebook.png"></img>
	</a>
	<!-- <a href="" target="_blank">
		<img class="social-media-icon" src="{{site.baseurl}}/assets/img/ico/slack.png"></img>
	</a> -->
	<a href="{{site.twitter}}" target="_blank">
		<img class="social-media-icon" src="{{site.baseurl}}/assets/img/ico/twitter.png"></img>
	</a>
	<a href="{{site.instagram}}" target="_blank">
		<img class="social-media-icon last" src="{{site.baseurl}}/assets/img/ico/instagram.png"></img>
	</a>
</div>
