    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <h2 class="thick-title reveal" style="margin-bottom:50px">FAQ</h2>
    <ul class="timeline reveal">

        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>When is CUHacking?</b> <i class="em em-date"></i></h4>
              <p>
                CUHacking will take place from February 10th to February 11th, 2018.
              </p>
            </div>

          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>

          <div class="timeline-panel">
            <!--div class="timeline-heading">
              <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />
            </div-->
            
            <div class="timeline-body">
              <h4><b>What is a hackathon?</b> <i class="em em-rocket"></i></h4>
              <p>
                Think of it as a marathon of building and learning new things. Students from different universities and backgrounds get to work together to turn an idea into a reality. Be it an app, website, or hardware hack, the sky's the limit! There’s also free swag and prizes to be won. Anyone who has an interest in technology is welcome to attend this 24 hour event. The goal is to learn something new!
              </p>
            </div>
            
            <!--div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div-->
          </div>
        </li>
        
        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>What if I’m not experienced… Should I still apply?</b> <i class="em em-sunglasses"></i></h4>
              <p>
                Definitely! Whether it’s ideas, coding, design, or a really smooth pitch, everyone can bring something to the table. This is a great opportunity to learn something new, meet like minded people, and just have a fantastic time.
              </p>
            </div>

          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>How much does it cost?</b> <i class="em em-moneybag"></i></h4>
              <p>
                The event is entirely free! (And we’ll even take care of the food)
              </p>
            </div>
            
          </div>
        </li>

        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>Who can participate?</b> <i class="em em-raising_hand"></i></h4>
              <p>
                Any university or college student can apply, regardless of program.
              </p>
            </div>
            
          </div>
        </li>
        
        <li class="timeline-inverted">
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>Can I work on my hack before the event?</b> <i class="em em-clock7"></i></h4>
              <p>
                To be fair, everyone starts their hack only once the event officially begins. We recommend setting up your environment (install Xcode, Android Studio, Git, etc) but don’t start hacking until the event!
              </p>
            </div>
  
          </div>
        </li>

        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>Will hardware be provided?</b> <i class="em em-computer"></i></h4>
              <p>
                Yes! A hardware lab provided by MLH will be available with Arduinos, Oculus Rifts, Amazon Echoes, and more! A list will be released with more details really soon.
              </p>
            </div>
            
          </div>
        </li>
        
        <li class="timeline-inverted">
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>What should I bring?</b> <i class="em em-handbag"></i></h4>
              <p>
                Your laptop, charger, a piece of ID and your creativity! We also recommend bringing a sleeping bag and basic toiletries. Leave the rest to us! Breakfast, lunch, and dinner will be provided along with snacks and drinks.
              </p>
            </div>
            
          </div>
        </li>

        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>What if I don't have a team?</b> <i class="em em-scream"></i></h4>
              <p>
                Don’t worry if you don’t have a team prior to the event, there will be plenty of opportunities to meet other hackers and form teams when you get here!
              </p>
            
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>How many people can be on a team?</b> <i class="em em-octocat"></i></h4>
              <p>
                Teams are made of up to 4 people. Take this opportunity to make new friends and work with people from different schools and skill levels.
              </p>
            </div>
            
          </div>
        </li>

        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>Will there be travel reimbursement?</b> <i class="em em-car"></i></h4>
              <p>
                Sorry, we are not currently offering travel reimbursement but we will let you know if this changes! 
              </p>
            
          </div>
        </li>

        <li>
          <div class="timeline-badge primary">
            <a>
              <img class="question" src="/assets/images/question.svg">
            </a>
          </div>
          <div class="timeline-panel">

            <div class="timeline-body">
              <h4><b>I still have so many questions!</b> <i class="em em-speech_balloon"></i></h4>
              <p>
                <a href="/#contact">Fill out our contact form</a> or message us on <a href="https://www.facebook.com/CUHacking/" target="_blank">Facebook</a> and we’ll be happy to answer any other questions you have :)
              </p>
            </div>
            
          </div>
        </li>

        <li class="clearfix" style="float: none;"></li>
    </ul>
