.contact-title {
	font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
	font-size: 46px;
}

.contact-subtitle {
	margin-bottom: 50px;
}

.contact-form {
	padding:50px;
	padding-bottom: 80px;
	margin-top: 20px;
	background: rgba(32, 32, 32, 0.74);
	border-radius: 5px;
}