#contact-form {
	width:80%;
	margin:auto;
	.input-group {
		margin-bottom: 15px
	}
}
#contact-button {
	float: right;
	background: black;
    border: none;
    padding: 10px 20px;
    position: relative;
    display: block;
    margin: 30px auto;
    /* padding: 0; */
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    /* background-color: #2ecc71; */
    color: #ecf0f1;
    transition: background-color .3s;
}

#contact-button:hover {
	background: #222;
}

.input-group-addon {
    min-width: 100px !important;
    text-align: left;
}

.form-control {  
    text-align: left;
}
