#contact-form {
	width:80%;
	margin:auto;
	.input-group {
		margin-bottom: 15px
	}
}
#contact-button {
	float: right;
    background: #302323;
    border: none;
    padding: 10px 20px;
    position: relative;
    display: block;
    /* padding: 0; */
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    /* background-color: #2ecc71; */
    color: #ecf0f1;
    transition: background-color .3s;
}

#contact-button:hover {
	background: #493636;
}

.input-group-addon {
    min-width: 100px !important;
    text-align: left;
    background: #302323;
    border-color: transparent;
    color: gainsboro;
    border-radius: 0px !important;
}
.form-control {
    border-radius: 0px !important;
    min-height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: left;
    min-width:200px;
}

input[type="submit"] { 
    background: #302323;
    border-color: transparent;
    color: gainsboro;    
    min-height: 40px;
    border-radius: 0px !important;
}

.form-control {  
    text-align: left;
}

@media (max-width:600px){
    .input-group {
        display: block;
    }
} 

