
#sponsors {
	a {
		text-decoration: none !important;
	}
}
.sponsors {
    padding: 50px 0;
}

.plat-sponsors {
	display: flex;
	align-items: center;
	justify-content:center;
	margin-bottom: 50px;
}

.other-sponsors {
	display: flex;
	align-items: center;
	justify-content:center;
}

.sponsor-big {
	width: 32%;
	margin: 10px 20px;
}

.sponsor-gold {
	width:28%;
	margin: 10px 20px;
}

.sponsor-bronze {
	width: 19%;
	margin: 10px 20px;
}

.partner {
    width: 15%;
    margin: 40px 5%;
}

.prev-sponsor{
	width: 11%;
    margin: 20px 2%;
    min-width: 100px;
}

@media (max-width: 700px){
	.sponsor-big {
		width: 90%;
		margin-bottom:40px;
	}

	.sponsor-bronze {
		width: 50%;
	}

	.partner {
	    width: 40%;
	}
}