
#sponsors {
	a {
		text-decoration: none !important;
	}
}
.sponsors {
    padding: 50px 0;
}

.sponsor-big {
	width: 40%;
}

.partner {
    width: 17%;
    margin: 40px 5%;
}

.prev-sponsor{
	width: 7%;
    margin: 20px 2%;
}

@media (max-width: 700px){
	.sponsor-big {
		width: 95%;
	}

	.partner {
	    width: 95%;
	}
}