---
layout: main_template
---
{% include mlh.html %}
{% include video_bg.html %}
<div id="centerpiece">
	<img id="logo" src="/assets/images/cuhlogo.png"></img>
	<div id="join">
	      {% include pre-registration.html %}
	      <!--input type="text" class="form-control" placeholder="email">
	      <span class="input-group-btn">
	        <button class="go-button btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
	      </span-->
	    </div>
	</div>
</div>
<div class="stretch section">
	<div class="container">
    	<h1 class="thick-title">WHAT IS CUHACKING?</h1>
    	<p>Carleton University's CUHacking is the largest hackathon in Ottawa. The hackathon takes place over 24 hours (non-stop!) Students can compete against each other and themselves to take thier projects from concept to reality.</p>
	</div>
</div>
<div id="container2" class="section parallax-bg birds-bg">
	<div class="container">
		<h1 class="thick-title on-light">OUR SPONSORS</h1>
        <p>By sponsoring CUHacking, your organization has the opportunity to advertise, run challenges and workshops, network with passionate students, and discover new project ideas. Contact us if your company is interested in sponsoring CUHacking!</p>
		<!-- include sponsor grid -->
	</div>
</div>
<div class="section static">
	<div class="container faq">
		<h1 class="thick-title">COMMON QUESTIONS</h1>
		<div id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="card">
		    <div class="card-header" role="tab" id="headingOne">
		      <h5 class="mb-0"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		        <a class="collapsed">What is a hackathon?</a>
		      </h5>
		    </div>

		    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="card-block">
		      	A hackathon is an event where a team works together to bring an idea to life. The challenge is to come up with and create a software or hardware project in 24 hours. Companies will also offer API challenges that you can go for.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingTwo">
		      <h5 class="mb-0"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		        <a class="collapsed">
		          How much experience do I need?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="card-block">
		        No experience is needed! A hackathon is the best opportunity for participants to learn new tools to develop their idea. Whether you’ve been programming since you were 10 or have no idea what a microcontroller is, everyone has many different ways to benefit from a hackathon. It's a perfect opportunity to learn.
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" role="tab" id="headingThree">
		      <h5 class="mb-0"  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		        <a class="collapsed">
		          Who can participate?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="card-block">
		        Any student from any university or college is eligible to participate. Participation is free, but will require signing up. Only a certain number of registrants will be accepted depending on the volume of sign ups.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingFour">
		      <h5 class="mb-0"  data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		        <a class="collapsed">
		          Can I submit an old project?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="card-block">
		        No. The purpose of a hackathon is to create something from scratch within a given time limit and to learn as you go. It is also not fair to other teams who start a project from scratch during the hackathon.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingFive">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		        <a class="collapsed">
		          How does judging work?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
		      <div class="card-block">
		        Judges will come from some of the largest companies in the tech industry. They will rate hacks based on creativity, technical difficulty, design, and usefulness.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingSix">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
		        <a class="collapsed">
		          Will there be workshops?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
		      <div class="card-block">
		        Workshops on certain fundamentals of various software and hardware will be run throughout the hackathon.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingSeven">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
		        <a class="collapsed">
		          Will hardware be provided?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
		      <div class="card-block">
		        Some hardware will be available, but will be limited.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingEight">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
		        <a class="collapsed">
		          What should I bring?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
		      <div class="card-block">
		        Laptop, charger, water, snacks, sleeping bag, comfortable clothes, and your creativity! Breakfast, lunch, and dinner will be provided.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingNine">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
		        <a class="collapsed">
		          What if I don't have a team?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
		      <div class="card-block">
		        There will be time at the beginning of the event to form teams before the hacking part begins.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingTen">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
		        <a class="collapsed">
		          How many team members can I have?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
		      <div class="card-block">
		        There can be a maximum of 4 members per team.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingEleven">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
		        <a class="collapsed">
		          Will there be travel reimbursement?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
		      <div class="card-block">
		        At this time we will not be providing travel reimbursement, but we are still looking into the possibility. If you are within a 5-hour driving distance, we encourage you to carpool to save money on travel. Try to get your friends to sign up as well so you can split the cost of travel. We may also send a bus to the Toronto and Waterloo areas to pick students up.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingTwelve">
		      <h5 class="mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
		        <a class="collapsed">
		          I have a question that is not listed here. Who can I ask?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
		      <div class="card-block">
		        <a>Contact us</a> and one of our organizers will get in contact with you as soon as possible!
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>