---
layout: main_template
---
{% include mlh.html %}


{% include particle_bg.html %}
<div id="home">
	<img id="logo" class="reveal-full-size" src="{{ site.baseurl }}/assets/images/official_logo.png"></img>

	<h4 class="reveal-full-size location"><span>
		<label style="color:#eee;height: 28px;">MARCH 31<sup style="margin-left:2px; color:#eee;">st</sup> - APRIL 1<sup style="color:#eee;">st</sup> 2018</label>
		<br><a href="http://carleton.ca/" target="_blank">@ CARLETON UNIVERSITY</a></span></h4>
    {% include application_form.html %}
	<!--div id="join" class="reveal-full-size">
	     pre-registration.html 
	      <!--input type="text" class="form-control" placeholder="email">
	      <span class="input-group-btn">
	        <button class="go-button btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
	      </span-->
    <!--/div-->
</div>

{% include countdown.html %}
<div id="about" class="section container to-white">
    	<h2 class="thick-title reveal"><b>WHAT IS CUHACKING?</b></h2>
    	<p class="reveal">Carleton University's CUHacking is the largest hackathon in Ottawa. The hackathon takes place over 24 hours, non-stop! Students can compete against each other and themselves to take their projects from concept to reality.</p>
</div>
{% include schedule.html %}
<h2 class="thick-title bg">SPONSORS</h2>
<div id="sponsors" class="section container light "> <!--parallax-bg static-nodes-bg-->
		
        <p class="reveal">
	        By sponsoring CUHacking, your organization has the opportunity to advertise, run challenges and workshops, network with passionate students, and discover new project ideas. <b><a href="{{ site.baseurl }}/#contact" >Contact us</a></b> if your company is interested in sponsoring CUHacking!
	        <br>
          <!-- <b><a href="http://cuhacking.com/" target="_blank">Check out last year's site and sponsors!</a></b> -->
        </p>
	        <br>
		<hr>
	        <br>


	    {% include sponsors.html %}

	    <!--p class="reveal">
	      <a href="https://monty1029.github.io/CUHackingWebsite/" target="_blank">Check out last years sponsors!</a>
          <!-- <b><a href="http://cuhacking.com/" target="_blank">Check out last year's site and sponsors!</a></b>>
        </p-->
</div>

<h2 class="thick-title bg">FAQ</h2>
<div id="faq" class="section container med parallax-bg static-nodes-bg">
	{% include faq.html %}
</div>


<div id="contact" class="section container dark">
	<h2 class="contact-title">
		<!--i class="em em-envelope" aria-hidden="true" style="margin-right:15px"></i-->
		Contact Us
	</h2><hr>
	<p class="contact-subtitle">Have a question? Use the form below and we'll get back to you ASAP.</p>
	{% include contact-form.html %}
</div>


<script type="text/javascript">
	//$("#home-nav").addClass("active");
</script>

<!--Particle js-->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!--Particle js-->
<script src="{{ site.baseurl }}/assets/js/particles_settings.js"></script>
